<div class="row blue-header">
	<span style="float: left" class="col-6">
		<h1>Jason's fine dining</h1>

	</span>
	<span style="float: right;" class="col-6">
		Check out the great food with low prices! 
	</span>
<br/>
<br/><br/>
</div>

			